<div class="md:pr-30 md:pl-20  md:mt-20 mr-3  h-screen  flex flex-col md:justify-between">
  <div class="p-10 h-full w-full">
    <p class="md:hidden w-full text-center mb-4 text-3xl font-medium">Vestigia</p>
    <div class="w-full md:h-full flex flex-col md:justify-between   rounded-2xl   space-y-4" *ngIf="userForm">

      <!-- Titre et bouton dans une ligne -->
      <div class=" flex md:flex-row w-full   justify-between items-center">
        <!-- Cercle avec première lettre -->
        <div class="w-full flex flex-row items-center gap-4">

          <div class="w-full md:w-[312px] flex flex-row items-center justify-start gap-4 p-4 rounded-lg shadow-lg">
            <div
              class="w-12 h-12 rounded-full bg-[#EADDFF] text-white flex items-center justify-center text-lg font-bold uppercase">
              {{ user.username?.charAt(0) }}
            </div>
            <div>
              <h2 class="text-xl text-gray-800">{{ user.first_name }} {{ user.last_name }}</h2>
              <p>&#64;{{ user.first_name.toLowerCase() }}{{ user.last_name.toLowerCase() }}</p>
            </div>
          </div>
        </div>

        <!-- Bouton de sauvegarde -->
        <div class="sticky  w-full hidden md:flex md:flex-row md:justify-end ">
          <button mat-flat-button class="#ECE6F0" type="submit" (click)="updateUser()">
            <mat-icon class="mr-2">edit</mat-icon>
            Sauvegarder
          </button>
        </div>
      </div>


      <!-- Formulaire -->
      <form [formGroup]="userForm" class="w-full h-full mt-6 flex   md:justify-between md:flex-row flex-wrap ">
        <div class="flex flex-col
      justify-between  w-full md:w-1/3 ">
          <mat-form-field appearance="fill" class="w-full md:w-[336.21px]">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="first_name"/>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full md:w-[336.21px]">
            <mat-label>Pays</mat-label>
            <input matInput formControlName="pays"/>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full md:w-[336.21px]">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="phone"/>
          </mat-form-field>


        </div>

        <div class="flex flex-col md:justify-between md:h-full w-full md:w-1/3">
          <mat-form-field appearance="fill" class="w-full md:w-[336.21px]">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="last_name"/>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full md:w-[336.21px]">
            <mat-label>Genre</mat-label>
            <input matInput formControlName="genre"/>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full md:w-[336.21px]">
            <mat-label>Langue</mat-label>
            <input matInput formControlName="langue"/>
          </mat-form-field>
        </div>
        <div class=" md:hidden w-full flex justify-center items-center">
          <button   class="flex flex-row items-center justify-center w-[60%] p-2 rounded-xl bg-[#ECE6F0] text-[#65558F]"  type="submit" (click)="updateUser()">
            <mat-icon class="mr-2">edit</mat-icon>
            Sauvegarder
          </button>
        </div>
      </form>
    </div>
  </div>



</div>
