<ng-container *ngIf="authService.isLoggedIn">

  <!-- Overlay flou uniquement mobile -->


  <!-- Sidebar : en bas sur mobile, à gauche sur desktop -->
  <nav [class.hidden]="!isOpen"
       class="fixed bottom-0  left-0 md:left-auto w-full md:w-64 bg-[#F7F2FA] text-[#49454F]
              flex md:flex-col flex-row justify-around md:justify-start items-center md:items-start
               md:p-6 md:space-y-4 z-40 shadow-lg md:h-full h-16">

    <!-- En-tête : uniquement visible en desktop -->
    <div class="hidden md:flex flex-row justify-between items-center mb-6 w-full">
      <div class="text-2xl font-bold">Vestigia</div>
      <!-- Bouton Fermer (mobile seulement, masqué en desktop) -->
      <button (click)="toggleSidebar()"
              class="md:hidden p-2 bg-indigo-600 hover:bg-indigo-800 rounded text-white">
        ✕
      </button>
    </div>

    <!-- Liens -->
    <a routerLink="/explore" routerLinkActive="bg-[#E8DEF8] flex flex-col md:flex-row"
       class="flex items-center gap-2 p-2 rounded hover:bg-[#E8DEF8] md:rounded-full">
      <mat-icon>place</mat-icon>
      Explorer
    </a>

    <a routerLink="/account" routerLinkActive="bg-[#E8DEF8] flex flex-col md:flex-row"
       class="flex items-center gap-2 p-2 rounded hover:bg-[#E8DEF8] md:rounded-full">
      <mat-icon>person</mat-icon>
      Compte
    </a>




    <a routerLink="/favoris" routerLinkActive="bg-[#E8DEF8] flex flex-col md:flex-row"
       class="flex items-center gap-2 p-2 rounded hover:bg-[#E8DEF8] md:rounded-full">
      <mat-icon>favorite</mat-icon>
      Favoris
    </a>


<!--    &lt;!&ndash; Déconnexion &ndash;&gt;
    <a (click)="logout()"
       class="p-2 rounded-full bg-red-600 hover:bg-red-700 text-center text-white cursor-pointer md:mt-auto">
      Déconnexion
    </a>-->
  </nav>

  <!-- Bouton d’ouverture (uniquement mobile) -->
  <button *ngIf="!isOpen"
          (click)="toggleSidebar()"
          class="md:hidden p-2 text-white bg-indigo-600 fixed top-0 left-0 z-50 rounded shadow">
    ☰
  </button>

  <!-- Contenu principal (décalé si sidebar ouverte sur desktop) -->
  <div [class.md:ml-64]="isOpen" class="transition-all duration-300">
    <router-outlet></router-outlet>
  </div>

</ng-container>
