<!-- OVERLAY DE NOTIFICATION -->
<div
  *ngIf="showOverlay"
  class="h-full  w-full bg-white fixed inset-0 z-50 flex items-center justify-center  bg-opacity-50"
>
  <div
    class="   justify-center   p-20 text-center text-xl font-medium  flex flex-col items-center gap-2"
  >
    <mat-icon class="icon-large">favorite_border</mat-icon>

    {{ overlayMessage }}
  </div>
</div>


<!-- LISTE PRINCIPALE -->
<div *ngIf="!showCardDetail" class="p-6  h-full mb-24 flex flex-col md:justify-between">
  <p class="md:hidden w-full text-center mb-4 text-3xl font-medium">Vestigia</p>
  <div class="md:w-[80%]">
    <div class="w-full flex items-center justify-center">

      <div class="w-[100%]">
        <app-search-bar
          [filters]="filtres"
          (searchChange)="handleSearch($event)"
          (filterChange)="handleFilters($event)"
          class=" ">

          >
        </app-search-bar>
      </div>
    </div>


    <h1 class="text-2xl font-medium mt-6  mb-6">Mes favoris</h1>

    <div class="  w-full  mt-6 grid grid-cols-1 lg:grid-cols-2 gap-8">
      <app-card-ballade
        *ngFor="let b of filteredFavoris"
        (click)="showBalladeDetail(b)"
        [title]="b.titre"
        [content]="b.description"
        [imageUrl]="b.image"
        class="cursor-pointer w-full transform hover:scale-105 transition-transform duration-300">
      </app-card-ballade>
    </div>
  </div>
</div>
<app-ballade-detail
  [ballade]="selectedBallades"
  [visible]="showCardDetail"
  (close)="showCardDetail = false"
  (toggleFavorite)="toggleFavorite()">
  <app-list-ballades
    other-list
    [ballades]="otherBallades"
    (selected)="showBalladeDetail($event)">
  </app-list-ballades>
</app-ballade-detail>
