<div class="mb-6 w-full flex flex-col justify-center items-center">
  <mat-toolbar class="search-control ">
    <mat-toolbar-row style="padding: 0 5px; display: flex; flex-direction: row; justify-content: space-between;">
      <button class="search-icon" type="button" mat-icon-button>
        <mat-icon (click)="showFilter = !showFilter">filter_list</mat-icon>
      </button>

      <input
        type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch()"
        class="text-lg"
        placeholder="Rechercher une ballade"
      >

      <button class="search-icon" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="showFilter" class="w-full bg-gray-100 rounded-b-xl p-4 shadow-md">
    <ng-content select="[filter-options]"></ng-content>
  </div>


</div>
