<mat-list class="text-gray-600">
  <mat-list-item *ngFor="let u of ballades" (click)="onSelect(u)" class="cursor-pointer">
    <mat-icon matListIcon>person</mat-icon>
    <div class="flex flex-row gap-6 py-4 justify-between w-full">
      <img [src]="u.image" alt="{{ u.titre }}" class="w-16 h-16 object-cover rounded-md">
      <div class="flex-1 text-xs">
        <h4 matLine class="font-semibold">{{ u.titre }}</h4>
        <small matLine class="text-gray-500">{{ u.description }}</small>
      </div>
    </div>
  </mat-list-item>
</mat-list>
